{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "hot-posts" -->
                <div class="col-xs-12 hot-posts">

                </div>
                <!-- / hot-posts -->
                <!-- End "hot-posts" -->
            </div>
            <!-- row -->
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">

                    <!-- row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="blog-list blog-post wow fadeInUp">
                                <!-- container-fluid center-gray-block -->

                                <div class="describe">
                                    <h4 class="text-primary">O ínicio</h4>

                                    <p class="text-justify">Em meados do século XIX, Minas Gerais, considerada um dos maiores centros econômicos do País, não só pelas suas ricas minas de ouro, fábricas de ferro e tecelagem como também pelas imensas fazendas produtoras de laticínios e café, era considerado o Estado mais populoso do país. Sua organização político-administrativa deixou herança na história.<br /><br />
                                        Neste contexto, na pequena cidade de Bom Jardim, interior de Minas Gerais, nascia Serafim José do Bem. Filho de imigrantes, tornou-se proprietário de um posto de descanso para os bandeirantes que passavam pelas trilhas, Minas ? Rio durante a Era do Ciclo do Ouro.<br /><br />

                                        Com a escassez do ouro e o surgimento das ferrovias, as trilhas tornaram-se obsoletas e o pequeno posto do jovem Serafim ficou sem hóspedes para abrigar e seus negócios começavam a ruir.<br /><br />

                                        Em busca de oportunidades para cuidar dos oito filhos e da esposa, Serafim José do Bem partiu para o interior do país.<br /><br />

                                        Em 1870 ele deixa Minas Gerais com destino à região de Casa Branca e São Simão, passando por Poços de Caldas.<br /><br />

                                        Em São Simão, investe suas economias em três fazendas na região de Serrana, que perfaziam um total de 3.500 alqueires.<br /><br />

                                        Finalmente em 1875 o colonizador, com uma tropa cavalos e burros traz seus pertences, escravos e sua família para construir um novo futuro.<br /><br />

                                        À margem do Córrego Serrìnha, atual Fazenda, Santa Balbina, a casa da família do Bem é erguida, porém anos depois a família muda-se para onde é atualmente a esquina das ruas Nossa Senhora das Dores e Paraná.<br /><br />

                                        Ali, a família passou a cultivar a terra plantando apenas cereais, como arroz, feijão, milho e algodão para subsistência, e mais tarde começou a plantar cana-de-açúcar.<br /><br />

                                        No final do século XIX, a maleita estava presente em todo território do país e assombrou o lar de Serafim do Bem. Muito religiosos, ergueram uma imensa cruz de madeira, atrás da atual Igreja Matriz, para orar todas as tardes pedindo à Nossa Senhora das Dores que amparasse a família e afastasse aquela doença da família.<br /><br />

                                        Em 24 de setembro de 1890, Serafim do Bem doa quatro alqueires à Vila, mais quatro no dia 12 de abril de 1893 e mais quatro no dia 14 de fevereiro de 1906, totalizando doze alqueires conforme escrituras do livro destinado ao ?Tombo do Curato de Serrinha?.<br /><br />

                                        Essas doações foram, recebidas pelo Padre Joaquim Antônio Siqueira, que as aceitou Em 1897, o município de Cravinhos é criado e em 1912 a Vila Serrinha, passa a ser distrito da cidade.<br /><br />

                                        A pequena Serrinha, distrito de Cravinhos estava abandonada, sem subsídios para reverter em benfeitorias para o pequeno povoado, já que todo imposto cobrado na produção agrícola era revertido para Cravinhos.<br /><br />

                                        Ainda na década de 20, nascia a indústria açucareira Pedra e Martinópolis, mas a arrecadação dos impostos era revertida para Cravinhos e a Vila Serrinha continuava sem perspectivas de progresso.<br /><br />

                                        Em 1930, o Brasil vive um dos mais duros capítulos da história. São Paulo rompe com Minas Gerais. Os mineiros lançam então a candidatura de Getúlio Vargas em oposição a Júlio Prestes. Após Júlio Prestes vencer as eleições como presidente da República os militares conspiram um golpe de estado e tomam o poder.<br /><br />

                                        Em 1939 inicia a grande segunda guerra mundial e a Europa é devastada. Em 1945, termina a 2ª Guerra e também é o fim do Estado Novo no Brasil.<br /><br />

                                        Inicia-se uma nova era, onde a economia volta a crescer no não só no país, mas no mundo. As indústrias de tecelagem contribuem para o desenvolvimento econômico de São Paulo, o algodão passam a ser cultivado.<br /><br />

                                        O agricultor que cultiva a terra e vê sua colheita render frutos passa a questionar-se porque os impostos pagos ao distrito não podem ser desfrutados quando sua família precisa de um médico ou mesmo de uma qualidade de vida melhor. Esse questionamento passa a imperar na cabeça de todos moradores da então Serrana.<br /><br /></p>


                                    <h4 class="text-primary">A Emancipação</h4>
                                    <p class="text-justify">
                                        Em 1945, Ângelo Cavalheiro assume o cargo de vereador em Cravinhos, representando na época, a pequena população de Serrana. A insatisfação do povo do vilarejo aumentava em relação ao fato de Serrana ser distrito de Cravinhos e não poder investir no desenvolvimento da melhoria da qualidade de vida de sua gente. A administração de Cravinhos, percebendo o movimento que se formava em Serrinha com o objetivo de emancipar-se, afastou Ângelo Cavalheiro do cargo. Daí, ele passou a intensificar o movimento em Serrinha para lutar pela emancipação. O movimento foi ganhando força e Ângelo Cavalheiro conquistava aliados como Vicente Paula Lima. Começou então um movimento de libertação por parte de Serrana. A luta começou e foi árdua pois a resistência de Cravinhos era grande.<br /><br />

                                        Iniciou-se um processo político para emancipação.<br /><br />

                                        Restava então apenas uma questão para que Serrana conquistasse sua emancipação. Era necessário que houvesse uma distância de 25 km entre Cravinhos e Serrana.<br /><br />

                                        Primeiramente mediu-se a distância sem chegar a um consenso técnico, resultando em 23,5km. O processo emperrou.<br /><br />

                                        Começou a batalha política e foi então que decidiu-se que deveria-se medir a distancia entre a parada de ônibus de Cravinhos até a parada de ônibus de Serrana, surpreendendo os 25km necessários.<br /><br />

                                        Em 10 de abril de 1949 o governador de São Paulo, Armando Salles de Oliveira assina então o documento onde constava a emancipação de Serrana.<br /><br />

                                        Em 1950, Serrana pela primeira vez vai às urnas depositar seu voto para aquele que seria o primeiro prefeito da recém libertada cidade.<br /><br />

                                        Devido à luta e participação política, vence, com a maioria dos votos, Ângelo Cavalheiro.<br /><br />
                                        <img src="{% static 'images/historia/historia.jpg' %}" alt=""><br /><br />
                                        Suas primeiras ações administrativas foram: arrumar as ruas da cidade, construir a ponte do Rio Pardo que antes era balsa, inaugurar o primeiro hospital da cidade, a Santa Casa de Misericórdia e a Igreja Matriz.<br /><br />

                                        Ângelo Cavalheiro trouxe também a primeira ambulância e a primeira jardineira para transportar os alunos que estudavam em Ribeirão Preto. Em sua administração, trouxe o Ginásio Estadual de Serrana, hoje Escola Estadual Deputado José Costa, para Serrana.<br /><br />

                                        Ângelo Cavalheiro assumiu a Prefeitura de 1950 à 1954, depois de 1959 à 1963. Faleceu em 30 de março de 1981.</p><br /><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- End "main" -->
                {% include "serrana/includes/aside_mensagens_serrana.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}

