{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">
                    <!-- row -->
                    <div class="row">
                        <div class="row wow styleing-breadcrumb fadeInUp">
                            <div class="col-xs-12">
                                <h2><img src="{% static 'images/secretaria_saude/botao-medicamentos.png'%}"> Dispensação de medicamentos</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row wow styleing-breadcrumb fadeInUp">
                            <div class="post-review">
                                {% include "includes/medicamentos_text.html" %}
                            </div>
                            <hr>
                        </div>
                    {% for medicamentos in saude_medicamentos_view %}
                                {% if medicamentos.status == 'em_estoque' %}
                                    <div class="alert alert-success">
                                        <a href="{{ medicamentos.arquivo.url }}" class="blue"><h3>{{ medicamentos.nome_arquivo }}</h3></a>
                                        <h5>Data da última atualização: {{ medicamentos.dt_atualizacao }}</h5><br />
                                    </div>
                                {% elif medicamentos.status == 'faltante' %}
                                    <div class="alert alert-warning">
                                        <a href="{{ medicamentos.arquivo.url }}" class="blue"><h3>{{ medicamentos.nome_arquivo }}</h3></a>
                                        <h5>Data da última atualização: {{ medicamentos.dt_atualizacao }}</h5><br />
                                    </div>
                                    {% else %}
                                         <div class="alert alert-warning">
                                             <h3>Aguardando atualização!</h3>
                                         </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                </main>
                <!-- SIDEBAR AQUI -->
                {% include "includes/aside_mensagens_saude.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}

