{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">
                    <!-- row -->
                    <div class="row">
                        <div class="row wow styleing-breadcrumb fadeInUp">
                            <div class="col-xs-12">
                                <h2><img src="{% static 'images/secretaria_saude/botao-unidade-medica.png'%}"> Unidades de Saúde e Escalas Médicas</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="blog-list">
                            {% if saude_escala_view %}
                                <ul class="list-group hover">
                                    {% for escala in saude_escala_view  %}
                                        <li class="list-group-item green"><a href="{% url 'saude:saude_escala_detail_view' escala.pk %}" class="green"> {{ escala.unidade }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </main>
                <!-- SIDEBAR AQUI -->
                {% include "includes/aside_mensagens_saude.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
    <!-- / container-fluid main-content-->
    <div class="container">
        <div class="row">
            <div class="container-fluid center-gray-block">
                <div class="sidebar-widget-contnet clrearfix">
                    <p class="blog-post">Para mais informações entrar em contato no Recursos Humanos.</p><br />
                    <p class="blog-post">
                        <strong>
                            Rua: Dr. Tancredo de Almeida Neves, 176<br />
                            CEP: 14150-000<br />
                            Telefone: 3987-9878 / 3987-9848
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <!-- row -->
        <!-- container -->
    </div>
    <!-- container-fluid center-gray-block -->
    <!-- container-fluid center-gray-block -->
    <div class="container-fluid main-content">
        <!-- Start "adv block" -->
        <div class="adv-blcok-two margin-b-widget col-xs-12 clearfix">
            {% if banner_790x90_footer %}
                {% for bann21 in banner_790x90_footer %}
                    {% if bann21.url_externa == 'sim' %}
                        <a href="{{ bann21.url }}">
                            <img class="img-responsive" src="{{ bann21.banner.url }}" alt="">
                        </a>
                    {% else %}
                        <a href="{{ bann21.get_absolute_url }}">
                            <img class="img-responsive" src="{{ bann21.banner.url }}" alt="">
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <!-- End "adv block" -->
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
