{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">
                    <div class="row wow styleing-breadcrumb fadeInUp">
                        <div class="col-xs-12">
                            <h2><img src="{% static 'images/secretaria_adm/botao-adm.png'%}"> Notícias</h2>
                        </div>
                    </div>

                    <div class="row">
                        {% if infraestrutura_noticias %}
                            {% for infraestrutura_n in infraestrutura_noticias %}
                                <!-- Start "image-one-of-three-block image-one-of-three-block-small-image search-wiget" -->
                                <div class="image-one-of-three-block image-one-of-three-block-small-image search-wiget margin-b-30 pull-left clearfix">
                                    <div class="col-xs-12 col-md-5">
                                        <a href="{{ infraestrutura_n.get_absolute_url }}">
                                            <div class="image-block" style="background-image:url({{ infraestrutura_n.imagem.url }});">
                                                <i class="fa fa-file-image-o"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <div class="clearfix">
                                            <span class="news-tag-text green pull-left">{{ infraestrutura_n.get_secretaria_display }}</span>
                                        </div>
                                        <!-- / clearfix -->
                                        <div class="clearfix">
                                            <div class="linke-block">
                                                <h3 class="title"><a href="{{ infraestrutura_n.get_absolute_url }}">{{ infraestrutura_n.titulo }}</a></h3>
                                                <div class="post-info">
                                                    <span><a href=""><i class="fa fa-clock-o"></i>{{ infraestrutura_n.publicacao }}</a></span>
                                                </div>
                                                <div class="description">
                                                    <p>{{ infraestrutura_n.conteudo|truncatechars_html:150|safe }}</p>
                                                    <div class="read-more orange-links margin-t-24">
                                                        <a class="pull-right" href="{{ infraestrutura_n.get_absolute_url }}">leia mais</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / clearfix -->
                                    </div>
                                    <!-- / col-xs-12 col-md-8 -->
                                </div>
                                <!-- / image-one-of-three-block margin-b-15 pull-left clearfix -->
                                <!-- End "image-one-of-three-block image-one-of-three-block-small-image search-wiget" -->
                            {% endfor %}
                        {% endif %}
                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </main>
                <!-- SIDEBAR AQUI -->
                {% include "includes/aside_mensagens_infra.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
{% endblock %}
{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
