{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">
                    <!-- row -->
                    <div class="row">
                        <div class="row wow styleing-breadcrumb fadeInUp">
                            <div class="col-xs-12">
                                <h2><img src="{% static 'images/secretaria_infra/logo.png'%}"> Conheça o Secretário</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <figure class="post-pic">
                                <img src="{% static 'images/secretaria_infra/secretario.jpg' %}" alt="">
                            </figure>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="post-cont-type clearfix">
                                <h4 class="text-info">Marcos Antônio Pereira</h4>
                                <p class="text-justify">
                                    <strong>Qualificações:</strong>  Engenheiro Civil Formado pela Universidade Estadual Paulista - UNESP - Campus Bauru
                                </p>
                                <p class="text-justify">
                                    <strong>Outros trabalhos:</strong> Engenheiro Civil autônomo,  obras e reformas realizadas em Serrana, Ribeirão Preto, Sertãozinho e Araraquara.
                                </p>
                                <blockquote class="blockquote">
                                    <p class="mb-0">
                                        “Paciência e perseverança tem o efeito mágico de fazer as dificuldades desaparecerem e os obstáculos sumirem.” John Quincy Adams: ex-presidente dos Estados Unidos.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- SIDEBAR AQUI -->
                {% include "includes/aside_mensagens_infra.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
