<h3 class="text-primary">Sobre</h3>

<p class="text-justify">
    A <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm" class="blue">Lei nº 12.527</a>, de 18 de novembro de 2011, editada na esfera federal, conhecida como a Lei de Acesso à Informação, entrou em vigor no dia 16 de maio de 2012.
</p>
<p class="text-justify">
    A Lei de Acesso à Informação é um importante marco que visa reestruturar a relação entre Estado e Sociedade de forma a aproximar as duas esferas e reforçar o importante papel da cidadania, contribuindo para o fortalecimento do Estado Democrático de Direito que a Constituição de 1988 inaugurou.
</p>
<p class="text-justify">
    <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm" class="blue">A Lei nº 12.527</a>, sancionada pela Presidenta da República em 18 de novembro de 2011, tem o propósito de regulamentar o direito constitucional de acesso dos cidadãos às informações públicas e seus dispositivos são aplicáveis aos três Poderes da União, Estados, Distrito Federal e Municípios.
</p>
<p class="text-justify">
    Serrana conta com o Portal Transparência que contém os gastos públicos com contratos, compras, funcionários, arrecadação, telefones e endereços, entre outros.
</p>
<p class="text-justify">
    A solicitação de informações não constantes do Portal poderá ser realizada através de meio eletronico através do <a
        href="#btn-solicitacao-informacao" class="blue">botão abaixo</a> e também através do link:
    <a href="http://www.serrana.sp.gov.br/transparencia/" class="blue">www.serrana.sp.gov.br/transparencia</a>, no link acesso a informação, presencialmente na Prefeitura, situado na Rua Dr. Tancredo de Almeida Neves, 176. O “fale conosco” também servirá como porta de entrada de solicitações relacionadas à <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">Lei nº 12.527/11</a>.
</p>

<p class="text-justify">
    Importa recordar que as informações pessoais e sigilosas, como já previstas na <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm" class="blue">Lei nº 12.527/11</a>, não serão divulgadas.
</p>

<a href="http://www.acessoainformacao.gov.br/" class="blue">Saiba mais sobre a Lei de Acesso à Informação</a>
<hr>

<a  id="btn-solicitacao-informacao" class="btn btn-info" href="http://e-gov.betha.com.br/transparencia/01031-000/recursos.faces">Solicitar, acompanhar, verificar estatísticas sobre solicitações</a>
