<p><span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">Para a dispensa&ccedil;&atilde;o de medicamentos &eacute; necess&aacute;rio a receita m&eacute;dica ou de dentista para:</span></span></span></p>
<ol>
<li>
<p><span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">Medicamentos da Portaria 344/98 (controlados) &eacute; necess&aacute;rio a notifica&ccedil;&atilde;o de receita que ficar&aacute; retida na farm&aacute;cia.</span></span></span></p>
</li>
<li>
<p><span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">As receitas dos medicamentos de uso cont&iacute;nuos tem validade de seis meses a partir da data de sua emiss&atilde;o.</span></span></span></p>
</li>
<li>
<p><span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">Para dispensa&ccedil;&atilde;o de anticoncepcionais a validade da receita &eacute; de um ano.</span></span></span></p>
</li>
<li>
<p><span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">Para dispensa&ccedil;&atilde;o &eacute; indispens&aacute;vel a apresenta&ccedil;&atilde;o de um documento com nome do paciente.</span></span></span></p>
</li>
<li>
<p><span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">A receita contendo antibi&oacute;ticos tem validade de 10 dias a partir da data de sua emiss&atilde;o.</span></span></span></p>
</li>
<li>
<p><span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">Para dispensa&ccedil;&atilde;o de medicamentos do componente especializado da Assist&ecirc;ncia Farmac&ecirc;utica (Alto Custo) &eacute; necess&aacute;rio seguir os protocolos do Minist&eacute;rio da Sa&uacute;de.</span></span></span></p>
</li>
</ol>
<p>&nbsp;<span style="color: #1c1c1c;"><span style="font-family: Verdana,sans-serif;"><span style="font-size: medium;">A disponibilidade de medicamentos pode variar em fun&ccedil;&atilde;o da demanda.</span></span></span></p>
