<p class="blog-post text-justify">
    O município de Serrana disponibiliza aos cidadãos, em fácil acesso, todas as informações referentes às despesas e receitas, quadro de funcionários, licitações, telefones e endereços dos orgãos municipais e outras informações úteis sobre a administração da nossa cidade. Aqui, você pode acompanhar tudo o que o município arrecada e como esses recursos são aplicados nos serviços prestados à população.

    Com a promulgação da <strong>Lei Federal 131/2009</strong>, todos os municípios, estados, distrito federal e União, em todos os poderes foram obrigados a disponibilizarem, em tempo real, informações pormenorizadas acerca da receita e despesa pública, incluindo: valores, empresa contratada, número do processo, modalidade de contratação, etc.

    Somando-se a isso, o município volta-se não apenas para a transparência e disponibilização de dados, porém para sua acessibilidade. Com a vigência da <strong>Lei nº 12.527 – Lei de Acesso à Informação Pública</strong> – grande estímulo para o pleno exercício da transparência e acesso, o município implementará um esforço constante, no sentido de desmitificar as informações disponibilizadas, didatizando o conteúdo e se utilizando de mecanismos que facilitem sua compreensão.

Participe, fiscalize e contribua para que Serrana esteja melhor a cada dia!
</p>
<p class="blog-post text-justify">
   Participe, fiscalize e contribua para que Serrana esteja melhor a cada dia!
</p>