{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">
                    <!-- row -->
                    <div class="row">
                        <div class="row wow styleing-breadcrumb fadeInUp">
                            <div class="col-xs-12">
                                <h2><img src="{% static 'images/secretaria_educ/logo.png' %}"> Conheça a Secretária</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <figure class="post-pic">
                                <img src="{% static 'images/secretaria_social/secretario.jpg' %}" alt="">
                            </figure>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="post-cont-type clearfix">
                                 <h4 class="text-info">Kelara Yaisa da Costa</h4>
                                <p class="text-justify">
                                    <strong>Qualificações:</strong>  Graduada em Assistência Social, Graduando em especialização em Projetos Sociais e Politicas Públicas, capacitação em Indicadores para Diagnóstico do Sistema Único da Assistência Social e Trabalho Social em Programas de Habitação de Interesse Social.
                                </p>
                                <p class="text-justify">
                                    <strong>Outros trabalhos:</strong> Plantão Social, Secretaria Municipal de Assistência Social de Serrana, acolhimento institucional para crianças e adolescentes e em serviços de convivência e fortalecimento de vínculos.
                                </p>
                                <blockquote class="blockquote">
                                    <p class="mb-0">
                                        "O momento que em vivemos é um momento pleno de desafios. Mais do que nunca é preciso ter coragem, é preciso ter esperanças para enfrentar o presente. É necessário alimentar os sonhos e concretizá-los dia a dia no horizonte de novos tempos, mais humanos, mais justos e mais solidários."   Marilda Lamamoto.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- SIDEBAR AQUI -->
                {% include "includes/aside_mensagens_social.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
