{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">
                    <!-- row -->
                    <div class="row">
                        <div class="row wow styleing-breadcrumb fadeInUp">
                            <div class="col-xs-12">
                                <h2><img src="{% static 'images/secretaria_adm/botao-adm.png'%}"> Conheça o Secretário</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <figure class="post-pic">
                                <img src="{% static 'images/secretaria_adm/secretario.jpg' %}" alt="">
                            </figure>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="post-cont-type clearfix">
                                <h4 class="text-info">João Luís Motta Ardenghe</h4>
                                <p class="text-justify">
                                    <strong>Qualificações: </strong>MBA - FEA USP – Ribeirão Preto-SP em Administração de Empresas,, Graduação – Uni Mauá - União das Faculdades Barão de Mauá (Licenciatura em Ciências/ Matemática) e Extensão (Pós-Graduação) - Centro Universitário Moura Lacerda – Ribeirão Preto-SP.
                                </p>
                                <p class="text-justify">
                                    <strong>Outros trabalhos:</strong>  Prefeitura Municipal de Luiz Antônio /SP, Prefeitura Municipal de Cravinhos /SP, Prefeitura Municipal de Serrana / SP, Prefeitura Municipal de Serrana / SP, Usina da Pedra e Docente no Magistério oficial do Estado de São Paulo.
                                </p>
                                <blockquote class="blockquote">
                                    <p class="mb-0">
                                        Eu não tenho Ídolos. Tenho admiração por trabalho, dedicação e competência. Ayrton Senna.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- SIDEBAR AQUI -->
                {% include "includes/aside_mensagens_administracao.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
    <!-- container-fluid center-gray-block -->
    <div class="container-fluid main-content">
        <!-- Start "adv block" -->
        <div class="adv-blcok-two margin-b-widget col-xs-12 clearfix">
            {% if banner_729x90_footer %}
                {% for bann21 in banner_729x90_footer %}
                    {% if bann21.url_externa == 'sim' %}
                        <a href="{{ bann21.url }}">
                            <img class="img-responsive" src="{{ bann21.banner.url }}" alt="">
                        </a>
                    {% else %}
                        <a href="{{ bann21.get_absolute_url }}">
                            <img class="img-responsive" src="{{ bann21.banner.url }}" alt="">
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- End "adv block" -->
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
