{% extends "base_home.html" %}
{% load staticfiles %}
{% block topbar %}
    {% include "includes/topbar.html" %}
{% endblock %}
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
{% block navigation_bar %}
    {% include "includes/navigation_bar.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid main-content">
        <div class="container">
            <div class="row">
                <!-- Start "main" -->
                <main class="main col-xs-12 col-sm-8">
                    <!-- row -->
                    <div class="row">
                        <div class="row wow styleing-breadcrumb fadeInUp">
                            <div class="col-xs-12">
                                <h2><img src="{% static 'images/secretaria_esportes/logo.png'%}"> Conheça o Secretário</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <figure class="post-pic">
                                <img src="{% static 'images/secretaria_esportes/secretario.jpg' %}" alt="">
                            </figure>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="post-cont-type clearfix">
                                <h4 class="text-info">Edmilson Alves da Silva</h4>
                                <p class="text-justify">
                                    <strong>Qualificações:</strong> Técnico em contabilidade e graduando em Administração Pública
                                </p>
                                <p class="text-justify">
                                    <strong>Outros trabalhos:</strong> Diretor de Esportes, Serrana Esporte Cube - 2002 a 2006, Vice-presidente da Liga Desportiva Serranense - 2006 a 2012, Presidente da Liga Desportiva Serranense - 2012 a 2017, Supervisor de Futebol Comercial FC - 2016  e Diretor de sede da Copa São Paulo de Futebol Júnior - 2016/2017
                                </p>
                                <blockquote class="blockquote">
                                    <p class="mb-0">
                                        "Por meio de esporte, cultura e turismo vamos integralizar as tradições serranenses."
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- SIDEBAR AQUI -->
                {% include "includes/aside_mensagens_esportes.html" %}
            </div>
            <!-- row -->
        </div>
        <!-- / container -->
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
