{% load staticfiles %}
<div class="row filter-container margin-b-widget">
    <div class="col-xs-12 main-title clearfix">
        <h3 class="title border-b-dark-white"> <span class="border orange-bg"></span>Secretarias</h3>
        <h3 class="border-b-dark-white"> <span class="border"></span></h3>
        <div class="right-part pull-right filter-container">
            <span class="news-tag news-tag-white-bg margin-l-10 pull-left filter active" data-filter=".category-0">Gabinete</span>
            <span class="news-tag news-tag-white-bg margin-l-10 pull-left filter" data-filter=".category-1">Administração</span>
            <span class="news-tag news-tag-white-bg margin-l-10 pull-left filter" data-filter=".category-2">Educação</span>
            <span class="news-tag news-tag-white-bg margin-l-10 pull-left filter" data-filter=".category-3">Infraestrutura</span>
            <span class="news-tag news-tag-white-bg margin-l-10 pull-left filter" data-filter=".category-5">Social</span>
            <span class="news-tag news-tag-white-bg margin-l-10 pull-left filter" data-filter=".category-6">Saúde</span>
            <span class="news-tag news-tag-white-bg margin-l-10 pull-left filter" data-filter=".category-7">Esportes</span>
        </div>
    </div>
    <!-- Gabinete -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-0">

        {% for not_g in not_gab %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_g.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_g.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_g.get_absolute_url }}">{{ not_g.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_g.author }}</a></span>
                            <span><a href="">{{ not_g.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_g1 in not_gab1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_g1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_g1.get_absolute_url }}">{{ not_g1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_g1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>

    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-0">

        {% for not_g2 in not_gab2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_g2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_g2.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_g2.get_absolute_url }}">{{ not_g2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_g2.author }}</a></span>
                            <span><a href="">{{ not_g2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_g2_2 in not_gab2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_g2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_g2_2.get_absolute_url }}">{{ not_g2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_g2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Administração -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-1">

        {% for not_ad in not_adm %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_ad.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                        <span class="news-tag blue-bg margin-b-32 pull-left">
                              {{ not_ad.secretaria }}
                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_ad.get_absolute_url }}">{{ not_ad.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_ad.author }}</a></span>
                            <span><a href="">{{ not_ad.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_ad1 in not_adm1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_ad1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_ad1.get_absolute_url }}">{{ not_ad1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_ad1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-1">

        {% for not_ad2 in not_adm2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_ad2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_ad2.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_ad2.get_absolute_url }}">{{ not_ad2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_ad2.author }}</a></span>
                            <span><a href="">{{ not_ad2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_ad2_2 in not_adm2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_ad2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_ad2_2.get_absolute_url }}">{{ not_ad2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_ad2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Social -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-5">
        {% for not_s in not_soc %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_s.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                        <span class="news-tag blue-bg margin-b-32 pull-left">
                              {{ not_s.secretaria }}
                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_s.get_absolute_url }}">{{ not_s.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_s.author }}</a></span>
                            <span><a href="">{{ not_s.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_s1 in not_soc1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_s1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_s1.get_absolute_url }}">{{ not_s1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_s1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-5">

        {% for not_s2 in not_soc2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_s2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                         <span class="news-tag blue-bg margin-b-32 pull-left">
                               {{ not_s2.secretaria }}
                         </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_s2.get_absolute_url }}">{{ not_s2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_s2.author }}</a></span>
                            <span><a href="">{{ not_s2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_s2_2 in not_soc2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_s2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_s2_2.get_absolute_url }}">{{ not_s2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_s2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>

    <!-- Infraestrutura -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-3">

        {% for not_in in not_inf %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_in.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_in.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_in.get_absolute_url }}">{{ not_in.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_in.author }}</a></span>
                            <span><a href="">{{ not_in.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_in1 in not_inf1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_in1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_in1.get_absolute_url }}">{{ not_in1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_in1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-3">

        {% for not_in2 in not_inf2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_in2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_in2.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_in2.get_absolute_url }}">{{ not_in2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_in2.author }}</a></span>
                            <span><a href="">{{ not_in2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_in2_2 in not_inf2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_in2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_in2_2.get_absolute_url }}">{{ not_in2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_in2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>

    <!-- saude -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-3">

        {% for not_s in not_sa %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_s.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_s.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_s.get_absolute_url }}">{{ not_s.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_s.author }}</a></span>
                            <span><a href="">{{ not_s.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_s1 in not_sa1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_s1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_s1.get_absolute_url }}">{{ not_s1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_s1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-3">

        {% for not_s2 in not_sa2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_s2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_s2.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_s2.get_absolute_url }}">{{ not_s2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_s2.author }}</a></span>
                            <span><a href="">{{ not_s2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_s2_2 in not_sa2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_s2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_s2_2.get_absolute_url }}">{{ not_s2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_s2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>

    <!-- saude -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-6">

        {% for not_s in not_sa %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_s.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_s.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_s.get_absolute_url }}">{{ not_s.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_s.author }}</a></span>
                            <span><a href="">{{ not_s.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_s1 in not_sa1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_s1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_s1.get_absolute_url }}">{{ not_s1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_s1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-6">

        {% for not_s2 in not_sa2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_s2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_s2.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_s2.get_absolute_url }}">{{ not_s2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_s2.author }}</a></span>
                            <span><a href="">{{ not_s2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_s2_2 in not_sa2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_s2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_s2_2.get_absolute_url }}">{{ not_s2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_s2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>

    <!-- esportes -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-7">

        {% for not_es in not_esp %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_es.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_es.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_es.get_absolute_url }}">{{ not_es.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_es.author }}</a></span>
                            <span><a href="">{{ not_es.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_es1 in not_esp1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_es1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_es1.get_absolute_url }}">{{ not_es1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_es1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-7">

        {% for not_es2 in not_esp2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_es2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_es2.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_es2.get_absolute_url }}">{{ not_es2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_es2.author }}</a></span>
                            <span><a href="">{{ not_es2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_es2_2 in not_sa2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_es2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_es2_2.get_absolute_url }}">{{ not_es2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_es2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>

    <!-- educação -->
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-2">

        {% for not_ed in not_edu %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_ed.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_ed.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_ed.get_absolute_url }}">{{ not_ed.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_ed.author }}</a></span>
                            <span><a href="">{{ not_ed.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_ed1 in not_edu1 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_ed1.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_ed1.get_absolute_url }}">{{ not_ed1.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_ed1.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
    <!-- Start "one-col-of-tow" -->
    <div class="col-xs-12 col-md-6 one-col-of-tow mix clearfix category-7">

        {% for not_ed2 in not_edu2 %}
            <!-- Start "image-overlay-block-fixed-hight" -->
            <div class="image-overlay-block image-overlay-block-fixed-hight margin-b-20" style="background-image:url({{ not_ed2.imagem.url }});">
                <div class="overlay-gradient">
                </div>
                <!-- / overlay-gradient -->
                <div class="image-overlay-block-content">
                    <div class="top-part clearfix">
                                            <span class="news-tag blue-bg margin-b-32 pull-left">
                                            {{ not_ed2.secretaria }}
                                        </span>
                    </div>
                    <!-- / top-part -->
                    <div class="bottom-part clearfix">
                        <h3 class="title"><a href="{{ not_ed2.get_absolute_url }}">{{ not_ed2.titulo }}</a></h3>
                        <div class="post-info margin-b-10">
                            <span><a href="">{{ not_ed2.author }}</a></span>
                            <span><a href="">{{ not_ed2.publicacao }}</a></span>
                        </div>
                    </div>
                    <!-- / bottom-part -->
                </div>
                <!-- / image-overlay-block-content -->
            </div>
            <!-- / image-overlay-block -->
            <!-- End "image-overlay-block-fixed-hight" -->
        {% endfor %}
        {% for not_ed2_2 in not_edu2_2 %}
            <!-- Start "image-link-block" -->
            <div class="image-link-block clearfix margin-b-20">
                <a href="">
                    <div class="image-block" style="background-image:url({{ not_ed2_2.imagem.url }});">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                </a>
                <div class="linke-block">
                    <h3 class="title"><a href="{{ not_ed2_2.get_absolute_url }}">{{ not_ed2_2.titulo }}</a></h3>
                    <div class="post-info margin-b-19">
                        <span><a href=""><i class="fa fa-clock-o"></i>{{ not_ed2_2.publicacao }}</a></span>

                    </div>
                </div>
            </div>
            <!-- / image-link-block clearfix-->
            <!-- End "image-link-block" -->
        {% endfor %}
    </div>
</div>